<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="p-20">
    <slot />
  </body>
</html>

<style>
  html {
    margin: 0;
  }

  body {
    background-color: black;
    /* background-image: radial-gradient(
      circle 1171px at 58.3% 57.8%,
      #ffa337 0%,
      #ffe276 90%
    ); */
  }
</style>
